# macOS system files
.DS_Store

# Xcode
*.xcuserdata
*.xcuserstate
DerivedData/
.idea/
*.swp
*.lock
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
.swiftpm/xcode/
GoogleService-Info.plist
