<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkdazoPDz1N6a2M9JOdBo0HFc6BFd5QKA</string>
	<key>GCM_SENDER_ID</key>
	<string>201036484175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vilate-Knapp.food-tracker-version-two</string>
	<key>PROJECT_ID</key>
	<string>food-mood-9bf8c</string>
	<key>STORAGE_BUCKET</key>
	<string>food-mood-9bf8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201036484175:ios:a59879aa293a26cfbc243a</string>
</dict>
</plist>